<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @todo.name %>
</p>

<p>
  <strong>Done:</strong>
  <%= @todo.done %>
</p>

<p>
  <strong>Task list:</strong>
  <%= @todo.task_list %>
</p>

<%= link_to 'Edit', edit_todo_path(@todo) %> |
<%= link_to 'Back', todos_path %>
